<aside class="sidebar">
  <div class="sidebar__close menu-close">
    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.11389 2.44995L14.2171 14.5531" stroke="#8198A4" stroke-width="4" stroke-linecap="round" />
      <path d="M2.11389 14.5532L14.217 2.45006" stroke="#8198A4" stroke-width="4" stroke-linecap="round" />
    </svg>
  </div>
  <div class="sidebar__logo sidebar__item">
    <a href="/">
      <img src="img/logo.png" alt="logo" />
    </a>
  </div>

  <ul class="sidebar__menu sidebar__item">
    <li class="sidebar__menu-item">
      21 августа
    </li>
    <li class="sidebar__menu-item">
      <a href="#">Поток 1: Индустрия</a>
    </li>
    <li class="sidebar__menu-item">
      <a href="#">Поток 1: Индустрия</a>
    </li>
    <li class="sidebar__menu-item">
      <a href="#">Поток 2: Творчество</a>
    </li>
    <li class="sidebar__menu-item">
      <a href="#">Поток 3: Практика</a>
    </li>
  </ul>
  <ul class="sidebar__links">
    <li class="sidebar__link">
      <a href="#" target="_blank">Чат в Telegram</a>
    </li>
    <li class="sidebar__link">
      <a href="#" target="_blank">Группа ВКонтакте</a>
    </li>
    <li class="sidebar__link">
      <a href="#" target="_blank">Программа</a>
    </li>
    <li class="sidebar__link">
      <a href="#" target="_blank">Спикеры</a>
    </li>
    <li class="sidebar__link">
      <a href="#" target="_blank">Тех. поддержка</a>
    </li>
    <li class="sidebar__link">
      <a href="/faq.html">F.A.Q.</a>
    </li>
  </ul>
</aside>