<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatih4le" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Art Weekend</title>
  {{> head}}

  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="page-faq">
  {{#> layout-sidebar}}
  <h1>F.A.Q</h1>
  <div class="faq-content">

    <div>
      <h4>1. Если подвисает трансляция:</h4>
      <ul>

        <li>-️ Попробуйте зайти через режим инкогнито (в гугл хром — Ctrl + shift + N)</li>

        <li>— Попробуйте снизить качество. нажав на шестерёнку.</li>

        <li>— Попробуйте зайти через VPN (или Прокси)</li>

        <li>— Или наоборот проверьте, не включен ли у вас VPN (или Прокси), это замедляет работу сайтов.</li>
      </ul>
    </div>

    <div>
      <h4>
        2. Если упало качество видео:
      </h4>

      <ul>
        <li>— Поправьте качество у себя в плеере, под шестерёнкой;</li>
      </ul>

    </div>
    <div>
      <h4>3. Если у Вас другие проблемы с трансляцией, сделайте следующие действия:</h4>

      <ul>
        <li>— Перезагрузите страницу (ctrl + f5);</li>

        <li>• Если не помогло то:</li>

        <li>— Почистите кэш браузера (Shift + Ctrl + R);</li>

        <li>• Если не помогло то:</li>

        <li>— Закройте браузер и откройте снова;</li>

        <li>• Если не помогло то:</li>

        <li>— Попробуйте зайти с других браузеров, устройств;</li>

        <li>— Или подключиться к другому интернету.</li>
      </ul>
      Связаться с тех.поддержкой

    </div>
    <div>

      <h4>
        4. «Получу ли я видеозаписи?»
      </h4>
      Да, вы получите видеозаписи всех докладов конференции, а также презентации всех спикеров

    </div>
    <div>
      <h4>
        5. «Когда будут готовы записи?»
      </h4>
      Записи будут готовы в течение 2 недель после конференции.
      Их нужно обработать, нарезать, вставить слайды презентаций. Это не быстро.
      Как только они будут обработаны – на почту, указанную при покупке билета, придут доступы к ним.

    </div>
    <div>
      <h4>6. «Будет ли выдан сертификат о том, что участвовал в конференции?»</h4>
      Да, сертификат обязательно будет. Красивый. С подписями и печатью
    </div>
  </div>
  {{/layout-sidebar}}


  {{> foot}}
</body>

</html>